form {
    width: 960px;
    overflow: auto;
}

.text {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.line {
    width: 900px;
    padding: 5px;
}

.submit {
    background-color: #4aaaa5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    font-size: 12pt;
    border-color: #4aaaa5;   
}

.foot {
    margin-top: 200px;
}