.me {
    padding: 10px;
    float: left;
    overflow: auto;
    margin-top: 20px;
}

.about1 {
    color: #777777;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    margin-top: 25px;
    margin-left: 15px;
}



@media screen and (max-width: 980px) {
    .me {
        width: 45%;
        float:left;
    }
    .about1 {
        margin-right: 0;
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .me {
        width: 45%;
        float:left;
    }
    .about1 {
        margin-right: 0;
        width: 45%;
    }
}


@media screen and (max-width: 640px) {
    .about1,
    .me {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        float:left;

    }
}