form {
    width: 100%;
    overflow: auto;
}

.text {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.line {
    width: 90%;
    padding: 5px;
    border-width: thin;
    border-color: #777777;
}

.submit {
    background-color: #4aaaa5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    font-size: 12pt;
    border-color: #4aaaa5;   
}

.foot {
    margin-top: 200px;
}

@media screen and (max-width: 980px) {
    .line {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {

.text
.line {
   width:90%;
}

}
@media screen and (max-width: 640px) {

.text
.line {
   width:90%;
}

form {
    width:100%;
}

}